<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'ActuatorNode' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>bbba8bd5-7e91-4b1c-840a-918fb752de1c</InstrumentationKey>
</ApplicationInsights>