<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'CortanaControlPoint' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>2f9f9555-03e2-4943-96a1-d11e44e8a4bb</InstrumentationKey>
</ApplicationInsights>